<div class="row m-5">
  <div class="card border-primary mb-3 me-5" style="max-width: 18rem">
    <div class="card-header">
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" routerLink="/main-count">Count Ngrx</button>
      </div>
    </div>
    <div class="card-body text-primary">
      <h5 class="card-title">Number Increment Process</h5>
      <p class="card-text">
        Number increment methods with @Input-@Output, Service, and Ngrx
      </p>
    </div>
  </div>

  <div class="card border-success mb-3" style="max-width: 18rem">
    <div class="card-header">
      <div class="d-grid gap-2">
        <button class="btn btn-success" type="button" routerLink="/layout">E-Commerce</button>
      </div>
    </div>
    <div class="card-body text-success">
      <h5 class="card-title">E-commerce example with Ngrx</h5>
      <p class="card-text">
        Adding and removing products to the cart with Ngrx
      </p>
    </div>
  </div>
</div>
