<div class="row m-4">
  <div class="col-md-4">
    <h5 class="mb-4">Add Count Input-Output</h5>
    <button (click)="addCount()" class="btn btn-success me-2 btn-sm">Add +</button>
    <button (click)="subtractCount()" class="btn btn-warning me-2 btn-sm">Subtract -</button>
    <button (click)="resetCount()" class="btn btn-danger me-2 btn-sm">Reset x</button>
  </div>
  <div class="col-md-4">
    <h5 class="mb-4">Add Count Service</h5>
    <button (click)="addCountService()" class="btn btn-success me-2 btn-sm">Add +</button>
    <button (click)="subtractCountService()" class="btn btn-warning me-2 btn-sm">Subtract -</button>
    <button (click)="resetCountService()" class="btn btn-danger me-2 btn-sm">Reset x</button>
  </div>
  <div class="col-md-4">
    <h5 class="mb-4">Add Count Ngrx</h5>
    <button (click)="addCountNgrx()" class="btn btn-success me-2 btn-sm">Add +</button>
    <button (click)="subtractCountNgrx()" class="btn btn-warning me-2 btn-sm">Subtract -</button>
    <button (click)="resetCountNgrx()" class="btn btn-danger me-2 btn-sm">Reset x</button>
  </div>
</div>
